name: Test on Strawberry Perl for Windows

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: windows-latest
    strategy:
      matrix:
        perl: [ "5.42", "5.40", "5.36" ]
 
    steps:
      - uses: actions/checkout@v6

      - name: Setup Strawberry Perl for Windows
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
          distribution: strawberry

      - run: cpanm -n --installdeps .
      - run: |
          perl Build.PL
          ./Build build
          ./Build test
